/*
Use with https://github.com/tjbrennan/obsidian-color-cycler to have the UI elements rotate colours.
Colour presets matching the "mixed (contrast)" https://github.com/Kovah/obsidian-rainbow-colored-sidebar theme are in obsidian-color-cycler presets.json.
*/

body {
  --titlebar-text-color: var(--color-accent) !important;
  --titlebar-text-color-focused: var(--color-accent) !important;
  --titlebar-text-color-hover: var(--color-accent) !important;
  --titlebar-text-color-active: var(--color-accent) !important;
  --tab-text-color-focused-active: var(--color-accent) !important;
  --tab-text-color-focused-active-current: var(--color-accent) !important;
  --vault-profile-color: var(--color-accent) !important;
  --vault-profile-color-focused: var(--color-accent) !important;
  --vault-profile-color-hover: var(--color-accent) !important;
  --status-bar-text-color: var(--color-accent) !important;
  --nav-heading-color-collapsed: var(--color-accent) !important;
  --nav-heading-color-collapsed-hover: var(--color-accent) !important;
  --nav-item-color-hover: var(--color-accent) !important;
  --nav-heading-color: var(--color-accent) !important;
}

.view-header-breadcrumb-separator {
  color: var(--color-accent) !important;
}
.view-header-breadcrumb {
  color: var(--color-accent) !important;
}
.view-header-title {
  color: var(--color-accent) !important;
}
.status-bar-item.plugin-properties.mod-clickable {
  color: var(--color-accent) !important;
}
.status-bar-item.mod-clickable:hover {
  color: var(--color-accent) !important;
}
